body {
  font-family: 'Roboto', sans-serif;
}

.my-card-blue {
	background: #2196F3;
	color: #000;
}

.name {
	position: relative;
	color: #FFF;
	display: inline-block;
	font-size: 30px;
	padding: 0;
	white-space: nowrap;
}

.dropdown-button:hover {
  cursor: pointer;
}

.parallax-container {
  height: 390px;
}

.my-card-white {
	background: #FFF;
	color: #000;
}
