body {
  font-family: 'Roboto', sans-serif;
}

.my-card-blue {
  background: #2196F3;
  color: #000;
  padding: 0 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: background 0.5s;
}

img.responsive-img {
  height: 50px;
  width: 50px;
  margin: 0 10px;
}

.name {
  position: relative;
  color: #FFF;
  display: inline-block;
  font-size: 30px;
  padding: 0;
  white-space: nowrap;
}

.subtitle {
  font-weight: 100;
}

.switch label {
  color: white;
}

.dropdown-button:hover {
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

.parallax-container {
  height: 390px;
}

.main-content {
  background: #eee;
  color: #212121;
}

.tabs {
  background: #eee;
}

.tab-content {
  padding: 20px 0;
}

.intro {
  padding: 0 20px;
}

.proj {
  margin: 0 20px;
  padding: 0 !important;
}

.proj:nth-child(odd) {
  animation: curve-up-from-left .5s .25s ease both;
  transform-origin: top left;
}

.proj:nth-child(even) {
  animation: curve-up-from-right .5s .25s ease both;
  transform-origin: top right;
}

@keyframes curve-up-from-left {
  from {
    transform: translateY(10rem) rotate(15deg);
    opacity: 0;
  }
}

@keyframes curve-up-from-right {
  from {
    transform: translateY(10rem) rotate(-15deg);
    opacity: 0;
  }
}

/* MOBILE PHONES */

@media only screen and (max-width: 768px) {
  .theme-switch, .social-menu {
    display: none;
  }

  .mobile-menu {
    display: list-item;
  }

  .proj {
    margin: 10px 20px;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 470px) {
  img.circle {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .name {
    max-width: 260px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }

  .mobile-menu .dropdown-button {
    padding: 0;
  }
}

/* DARK THEME */
.dark {
  transition: background 0.5s;
}

body.dark, .tabs.dark {
  background: #222;
}

.my-card-blue.dark, .main-content.dark {
  background: #222;
  color: #ccc;
}

.card.dark, .card-reveal.dark {
  background: #333940;
  color: #ccc;
}

.card.dark .card-title {
  color: #ccc !important;
}

.dropdown-content.dark {
  background: #111;
}

.dropdown-content.dark li.active, .dropdown-content.dark li:hover{
  background: #ccc;
}
