/* CSS Document */
body {
  background: #f5f6fa;
}

.logo {
  font-family: consolas;
}

.logo.angle-brackets,
.logo.slash {
  color: #808080;
}

.logo.initial {
  color: #4ec9b0;
}

.logo.min-space {
  letter-spacing: -4px;
}

#welcome-banner {
  background: #e7f4ff;
}

#welcome-svg {
  max-width: 50%;
  max-height: calc(150px - 2rem); /* banner height - (2 * padding) */
}

#profile-pic {
  height: 115px;
  width: 115px;
  object-fit: cover;
  object-position: 100% 0%;
}

#html-logo {
  color: #e44d26;
}

#css-logo {
  color: #0277bd;
}

#js-logo {
  display: inline-flex;
  align-items: center;
  background: black;
  color: #fdd83c;
  height: 14px;
  width: 14px;
  border-radius: 0.25rem;
}

.skill-bar {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.no-skill {
  flex: 1;
  text-align: center;
}

#toast-container {
  position: fixed;
  bottom: 0;
  right: 0;
}

#toast {
  min-width: 300px;
}

#footer {
  background: #e7f4ff;
}

#footer-svg {
  max-height: 150px;
}

#footer .fab:hover {
  cursor: pointer;
  transition: color 0.5s;
}

#footer #fb-icon:hover {
  color: #4c66a4; /* fb theme */
}

#footer #tw-icon:hover {
  color: #55acee; /* twitter theme */
}

#footer #so-icon:hover {
  color: #f48024; /* stack overflow theme */
}

#footer #li-icon:hover {
  color: #2867b2; /* linkedin theme */
}

#footer #gh-icon:hover {
  color: #6e5494; /* github theme */
}

#footer #gl-icon:hover {
  color: #e2434a; /* gitlab theme */
}

.fw-600 {
  font-weight: 600;
}

.card-text.list {
  padding: 0;
  list-style-type: none;
}

.collapse-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapse-title .fad {
  transition: transform 0.35s ease;
}

@media only screen and (max-width: 576px) {
  /* mobile-phones */
}

@media only screen and (min-width: 576px) {
  /* mobile-phones */
}

@media only screen and (min-width: 768px) {
  /* tablets */
}

@media only screen and (min-width: 992px) {
  /* desktops */
  .nav-item.active .nav-link {
    border-bottom: 2px solid rgba(0,0,0,0.9);
  }
}

@media only screen and (min-width: 1200px) {
  /* large desktops */
}